body{
	font-family: arial;
	color: #5A5959;
}

h1{
	font-family: arial;
	font-size: 60px;
	color: white;
	background: gray;
	padding: 50px;

}
.destaque{
	font-size: 30pt;
	color: white;
	background-color: gray;
	padding: 15px
	width: 300px;
	text-align: right;
}
.pequeno{
	font-size: 20px;
	color: white;
	background-color: gray;
	text-align: left;
}
